<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book appointments today!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <div class="container">
        <h1 class="mb-4">Book appointments</h1>
        <% if (appointment.status == 'made') { %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= appointment.message %> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <% } else if (appointment.status == 'notMade') { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= appointment.message %> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <% } else {  } %> 
        <form autocomplete="off" action="/" method="POST">
            <div class="form-group">
                <label for="name">Enter your name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Enter your email</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Enter your phone no.</label>
                <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
                <label for="time">fisible timing between 11am to 2 pm</label>
                <input type="text" name="time" class="form-control">
                <small class="form-text text-muted">We will soon send you an email on your confirmed appointment time</small>
            </div>
            <button class="btn btn-primary" type="submit">Book an appointment</button>
          </form>
    </div>
</body>
</html>